h1{
    text-align: center;
}
h3{
	text-align:center;
}
.container1{
    width: 80%;
    background-color: white;
    border: solid 1px;
    text-align: center;
    border-radius: 1%;
    display: grid;
    min-height: 400px;
    justify-content: center;
    margin:10%;
    grid-template-columns: repeat(3, 3fr);
}
.container{
/*    background-color: white;
    border: solid 1px;
    border-radius: 1%;*/
    display: flex;
    min-height: 600px;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin:auto;
	flex-direction:column;
    
}
body{
    font-family: Arial;
    background-color:gray;
}


#img{
    grid-column: 1;
}
#img img{
    width:75%;
    padding: 10%;
}
#inicio{
    grid-column: 2;
    grid-column: span 2;
    padding: 0 1% 0 1%;
}


#jogos{
    flex-grow:0;
    background-color: white;
    margin: 5%;
    border: solid;
    border-radius: 1%;
}
.contjogo{
	display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px;
    border-radius: 1%;
    margin: 5%;
    padding: 3%;
}
.carossel{
    padding: 2%;
    position: relative;
/*    height: 200px;
    width: 300px;
    overflow: hidden;
    position: relative;
    margin: auto;
}*/
}
.imgcaro{
    display: flex;
    transition: 0.5s;
    
}
.imgcaro img{
    width: 80%;
    padding: 0 10% 1% 10%;
    object-fit: cover;
}

#livros{
    flex-grow:0;
    background-color: white;
    margin: 5%;
    border: solid;
    border-radius: 1%;
}
.contlivro{
	display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px;
    border-radius: 1%;
    margin: 5%;
    padding: 3%;
}


#proj{
    grid-column: span 3;
    padding: 0 1% 0 1%;
}
/*
            <div>
                <h3 id="proj">Outros Projetos</h3>
            </div>
            <div>
               
            </div>*/
